body {
  font-family: 'Lato', sans-serif;
}

h1, 
h2, 
h3, 
h4 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

header a {
  font-family: 'Oswald', sans-serif;
}

a:hover {
  font-weight: 700;
  color: #095faf;
} 

h2 span {
  font-size: 1.16em;
}

iframe {
  max-width: 100%;
}

#about img {
  max-width: 200px;
}


.body-color {
  background: #FEF0E2;
}

.primary-color {
  color: #723a08;
}

.accent-color {
  color: #076DCC;
}

.title-color {
  color: #753d09;
}

.nav-color {
  background: #FBC18C;
}

.button-color {
  background-color: #e47814;
}








.nav-item {
  text-transform: uppercase;
  font-weight: 600;
}


.navbar-toggler {
  outline: none;
  border: none;
}

.navbar-toggler:hover,
.navbar-toggler:focus {
  outline: none;
}


.th-color {
  background-color: #FBC18C;
}

.td-color {
  background-color: #FCD1A9;
}

.btn {
  border: none;
}

.btn:hover,
.btn:focus {
  background-color: #cf7017;
}


.navbar-toggler:hover,
.navbar-toggler:focus {
  box-shadow: none;
}

